<html>
    <div class="c">
<img src="assets/imgs/ut.png" height="300px" width="200px"> 
<form action="/action_page.php">
    <label for="fname"> Pseudo:</label><br>
    <input type="text" id="fname" name="fname" value="Email ou numero de télephone mobile"><br>
    <label for="lname">Mot de passe:</label><br>
    <input type="text" id="lname" name="lname" value="*****"><br><br>
     <a routerLink="/boutique" routerLinkActive="actif"> <input type="submit" value="Se Connecter"></a>
<br>
<br>
    <input type="checkbox" id="1" name="1" value="CREER">
      <a routerLink="/creation" routerLinkActive="actif"> <label  for="1"> créer un compte </label></a>  <br> <a href="" >Avez vous besoin d'aide? </a>  
  </form>
</div>
<br>
<br><br>
</html>