<nav class="navbar navbar-light" style="background-color:#FFA000">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white; font-weight: bold;font-style: italic;"routerLink="/accueil" routerLinkActive="actif">Allo Fourni</a>
        
        <a  class="navbar-brand" style="color:white; font-weight: bold;font-style: italic;" routerLink="/Validation" routerLinkActive="actif">Se Connecter</a>
        <a  class="navbar-brand" style="color:white; font-weight: bold;font-style: italic;" routerLink="/boutique" routerLinkActive="actif">Nos Article</a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="recherche" aria-label="Search">
          <p style="font-style: italic;">appelez-nous au numéro +216 55502764</p>
        </form>
      </div>
    </nav>

    